p {
    margin-top: 15px;
}

.logo {
    width: 100px;
}

.contain-back {
    background: url('../images/bg.jpeg');
}

.bg-dark {
    background-color: transparent !important;
}
.jumbotron {
    color: #fff;
    text-align: center;
    background-color: transparent;
}

.people {
    max-width: 50%;
}

.info {
    background-color: rgb(243, 243, 243);
    padding: 20px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.bottom-info {
    padding: 20px;
}

.footer {
    background-color: #000;
    color: white;
    margin-top: 15px;
}