p {
    margin-top: 15px;
    font-size: 12px;
}

.logo {
    width: 100px;
}

.contain-back {
    background: url('../images/bg.jpeg');
}

.bg-dark {
    background-color: transparent !important;
}
.jumbotron {
    color: #fff;
    text-align: center;
    background-color: transparent;
}

.people {
    max-width: 100%;
    height: auto;
}

.info {
    background-color: rgb(243, 243, 243);
    padding: 20px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.bottom-info {
    padding: 50px;
}

.bottom-info .contacto p {
    margin: 0;
}

.footer {
    background-color: #000;
    color: white;
    margin-top: 15px;
    padding-left: 100px;
}

.carousel-item {
    display: none;
    position: relative;
    transition: 0.2s ease-in-out left;
}

